#course-info-container h5 {
  text-align:left;
}

.instructor-table {
  display: inline-block;
  border: 1px solid white;
  margin: 10px;
  display: table;
}

th {
  padding: 5px;
}

tr {
  border: 1px solid white;
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.25);
}

p {
  font-size: 1.11vh;
  font-weight: 400;
}

@media (orientation: portrait) {
  #cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #chart-container {
    margin: 15px;
    padding: 4vw;
    width: 75%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  #course-info-container {
    margin: 15px;
    padding: 4vw;
    width: 75%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  #raw-data-container {
    margin: 15px;
    padding: 4vw;
    width: 75%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #cards-container {
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
  }
  
  #chart-container {
    margin: 15px;
    padding: 1vw;
    width: 40%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  #course-info-container {
    margin: 15px;
    padding: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 25%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: flex-start;
    gap: 0.5vh;
    flex-direction: column;
  }

  #raw-data-container {
    width: calc(65% + 30px + 1vw);
    margin: 15px;
    padding: 1vw;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

#gpa-trend-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
}